.campus-facilities-card-body {
  background-color: var(--color-vibrant-red);
}

.campus-tour-card:hover,
.gallery-card:hover {
  background-image: url("../../assets/admission-process.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);
}

.accomodation-card-bg {
  background-color: var(--color-off-white-gray);
}

.sports-img-card {
  bottom: 10%;
  left: 5%;
}

@media (max-width: 768px) {
  .ground-image {
    height: 300px;
  }
  .sports-img-card {
    width: 10rem;
    height: 10rem;
    padding: 1rem !important;

    top: auto;
    bottom: 2rem;
    left: 1.5rem;
  }

  .sports-img-card h4 {
    font-size: var(--font-size-24) !important;
  }

  .sports-img-card p {
    font-size: 0.875rem;
  }
}

/* Small screens */
@media (max-width: 600px) {
  .ground-image {
    height: 300px;
  }
  .sports-img-card {
    width: 17rem;
    height: 8rem;
    padding: 0.5rem !important;

    top: auto;
    bottom: 2rem;
    left: 1.5rem;
  }

  .sports-img-card h4 {
    font-size: var(--font-size-16) !important;
  }

  .sports-img-card p {
    font-size: 0.75rem;
  }
}

.arrow-icon:hover {
  cursor: pointer !important;
}
