.course-tab-btn {
  width: 210px;
  height: 50px;
  border: none !important;
  outline: none !important;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
}

.course-tab-btn:hover {
  background-color: var(--color-peachy-orange) !important;
  color: var(--color-pure-black) !important;
  border: none !important;
  outline: none !important;
}

.course-tab-btn.active {
  background-color: var(--color-peachy-orange) !important;
  color: var(--color-pure-black) !important;
  border: none !important;
  outline: none !important;
}

.our-courses-bg {
  background-color: var(--color-mustard-yellow);
}
