<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <rewrite>
      <rules>
        <!-- Reverse Proxy Rule for API -->
        <rule name="ReverseProxyAPI" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://10.140.243.43:1338/api/{R:1}" logRewrittenUrl="true" />
        </rule>

        <!-- SPA Routing -->
        <rule name="Vite SPA Rewrite" stopProcessing="true">
          <match url="^(?!.*\.(?:css|js|html|ico|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|webp)).*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
