.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visionImage {
  position: relative;
}
.vision-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0e947a;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  opacity: 0;
  color: var(--color-white);
  transition: 0.5s;
}
.vision-content:hover {
  opacity: 1;
}
.vision-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.vision-content:hover > * {
  transform: translateY(0px);
}
.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  bottom: 10%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
}
